@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <form id="frmCreateAlamat">
            <!-- Label Alamat -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Label Alamat<span class="text-danger">*</span></label>
                <div class="col-12">
                    <input id="Label" class="form-control" type="text" name="Label" />
                </div>
                <small id="label-alert" style="display: none; color: red;">* label sudah digunakan</small>
            </div>

            <!-- Nama Penerima -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Nama Penerima<span class="text-danger">*</span></label>
                <div class="col-12">
                    <input class="form-control" type="text" name="Recipient" />
                </div>
            </div>

            <!-- Nomor HP Penerima -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Nomor HP Penerima<span class="text-danger">*</span></label>
                <div class="col-12">
                    <input class="form-control" type="text" name="RecipientPhoneNumber" />
                </div>
            </div>

            <!-- Kecamatan / Kota -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Kecamatan / Kota<span class="text-danger">*</span></label>
                <div class="col-12">
                    <select id="LocationId" name="LocationId" class="form-select">
                        <option value="">--Select Location--</option>
                        @if (ViewBag.Location != null)
                        {
                            foreach (VMMLocation location in ViewBag.Location)
                            {
                                <option value="@location.Id">@location.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <!-- Kode Pos -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Kode Pos</label>
                <div class="col-12">
                    <input class="form-control" type="text" name="PostalCode" />
                </div>
            </div>

            <!-- Alamat -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Alamat<span class="text-danger">*</span></label>
                <div class="col-12">
                    <input type="text" Name="Address" class="form-control" placeholder="Leave a Address here" style="height: 100px"></input>
                </div>
            </div>

            <input type="hidden" name="CreatedBy" value="@Context.Session.GetString("userId")" />
            <input type="hidden" name="BiodataId" value="@Context.Session.GetInt32("userBiodataId")" />

            <!-- Buttons -->
            <div class="d-flex justify-content-between mt-5">
                <button  type="reset" id="btnReset" class="btn btn-outline-info">Reset</button>
                <button type="button" id="btnSave" class="btn btn-info">Save</button>
            </div>
        </form>
    </div>
</div>

<script>
    $("#staticModalLabel").text("@ViewBag.Title");

    //Fungsi validate Label
    function validateLabel(dbLabel) {
        const dataLabel = $("#Label").val();
        const alert = document.getElementById('label-alert');

        // if (dataLabel === dbLabel) {

        // } else {
        //     $("#label-alert").show();
        // }
    }

    $("#frmCreateAlamat").validate({
        rules: {
            Label: {
                maxlength: 100,
                minlength: 3,
                required : true

            },
            Recipient: {
                required: true
            },
            RecipientPhoneNumber: {
                required: true
            },
            LocationId: {
                required: true
            }, 
            Address : {
                required : true
            }

        },
        messages: {
            Label: {
                required: "Silahkan masukkan Label Alamat"
            },
            Recipient: {
                required: "Silahkan masukkan Nama Penerima"
            },
            RecipientPhoneNumber: {
                required: "Silahkan masukkan Kontak Penerima"
            },
            LocationId: {
                required: "Silahkan masukkan Kecamatan / Kota"
            },
            Address : {
                required : "Silahkan masukkan Alamat penerima"
            }
        },
        errorClass: "text-danger"
    });

    $("#btnSave").click(function (e) {
        // debugger;
        if ($("#frmCreateAlamat").valid()) {
            $.ajax({
                url: "/Profile/Create",
                type: "post",
                data: $("#frmCreateAlamat").serialize(),
                dataType: "json",
                beforeSend: () => { },
                success: function (response) {
                    console.log(response)
                    if (response.statusCode == 200 || response.statusCode == 201) {
                        alert(response.statusCode + " - " + response.message);

                        $("#staticModal").modal("hide")
                        $("#alamat").load('/Profile/TabAlamat')
                    }
                    else {
                        alert(response.statusCode + " - " + response.message);
                    }
                },
                error: function (errResponse) {
                    console.error(errResponse);
                    debugger;
                }
            });
        }
        else {
            console.error("Alamat data is not valid");
        }

        return false;
    });

    $("#frmCreateAlamat").submit(function (e) {
        e.preventDefault();
    });

    $("#btnReset").click(() => { $("#frmCreateAlamat")[0].reset(); });
</script>