@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMMBiodataAddress
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <form id="frmUpdateAlamat">
            <!-- Label Alamat -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Label Alamat<span class="text-danger">*</span></label>
                <div class="col-12">
                    <input class="form-control" type="text" name="Label" value="@Model.Label"/>
                </div>
            </div>

            <!-- Nama Penerima -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Nama Penerima<span class="text-danger">*</span></label>
                <div class="col-12">
                    <input class="form-control" type="text" name="Recipient" value="@Model.Recipient" />
                </div>
            </div>

            <!-- Nomor HP Penerima -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Nomor HP Penerima<span class="text-danger">*</span></label>
                <div class="col-12">
                    <input class="form-control" type="text" name="RecipientPhoneNumber" value="@Model.RecipientPhoneNumber" />
                </div>
            </div>

            <!-- Kecamatan / Kota -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Kecamatan / Kota<span class="text-danger">*</span></label>
                <div class="col-12">
                    <select id="LocationId" name="LocationId" class="form-select">
                        <option value="">--Select Location--</option>
                        @if (ViewBag.Location != null)
                        {
                            foreach (VMMLocation location in ViewBag.Location)
                            {
                                if (location.Id == Model.LocationId)
                                {
                                    <option value="@location.Id" selected>@location.Name</option>
                                }
                                else
                                {
                                    <option value="@location.Id">@location.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <!-- Kode Pos -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Kode Pos</label>
                <div class="col-12">
                    <input class="form-control" type="text" name="PostalCode" value="@Model.PostalCode" />
                </div>
            </div>

            <!-- Alamat -->
            <div class="row mb-3">
                <label class="col-12 col-form-label">Alamat</label>
                <div class="col-12">
                    <div class="form-floating">                        
                        @if (Model.Address != null)
                        {
                            <input Name="Address" class="form-control text-area" value="@Model.Address" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></input>
                        }
                        else
                        {
                            <input Name="Address" class="form-control text-area" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></input>
                            <label class="text-muted" for="floatingTextarea2">Masukkan Alamat</label>
                        }
                        
                    </div>
                </div>
            </div>

            <input type="hidden" name="ModifiedBy" value="1" />
            <input type="hidden" name="Id" value="@Model.Id" />

            <!-- Buttons -->
            <div class="d-flex justify-content-between mt-5">
                <button type="reset" id="btnReset" class="btn btn-outline-info">Reset</button>
                <button type="submit" id="btnSave" class="btn btn-info">Save</button>
            </div>
        </form>
    </div>
</div>

<script>
    $("#staticModalLabel").text("@ViewBag.Title");

    $(document).ready(function () {

        $("#frmUpdateAlamat").validate({
            rules: {
                Label: {
                    maxlength: 100,
                    minlength: 3,
                    required: true
                },
                Recipient: {
                    required: true
                },
                RecipientPhoneNumber: {
                    required: true
                },
                Location: {
                    required: true
                }
            },
            messages: {
                Label: {
                    required: "Silahkan masukkan Label Alamat"
                },
                Recipient: {
                    required: "Silahkan masukkan Nama Penerima"
                },
                RecipientPhoneNumber: {
                    required: "Silahkan masukkan Kontak Penerima"
                },
                LocationId: {
                    required: "Silahkan masukkan Kecamatan / Kota"
                }
            },
            errorClass: "text-danger"
        });

        $("#frmUpdateAlamat").submit(function (e) {
            //disable form submit function
            e.preventDefault();
        });

        $("#btnSave").click(function (e) {
            if ($("#frmUpdateAlamat").valid()) {
                $.ajax({
                    url: "/Profile/EditAlamat",
                    type: "post",
                    data: $("#frmUpdateAlamat").serialize(),
                    dataType: "json",
                    beforeSend: () => { },
                    success: function (response) {
                        if (response.statusCode == 200 || response.statusCode == 201) {
                            alert(response.statusCode + "-" + response.message);
                            window.location.href = "/Profile/IndexCustomerProfile";
                        } else {
                            alert(response.statusCode + "-" + response.message);
                        }
                    },
                    error: function (errResponse) {
                        console.error(errResponse);
                        debugger;
                    }
                });
            } else {
                console.error("Form alamat data is not valid");
            }
            return false;
        });

        $("#btnReset").click(() => {
            $("#frmUpdateAlamat")[0].reset();
        });
    });
</script>