@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMMCustomer
@{
    Layout = null;

    // Remove the prefix +62 or leading 0 from the MobilePhone for display purposes
    string displayMobilePhone = @Model.MobilePhone;
    if (displayMobilePhone.StartsWith("+62"))
    {
        displayMobilePhone = displayMobilePhone.Substring(3);
    }
    else if (displayMobilePhone.StartsWith("0"))
    {
        displayMobilePhone = displayMobilePhone.Substring(1);
    }
}

<div class="container mt-2">
    <div class="card" id="cardEditProfile">
        <div class="card-body">
            <form id="frmUpdateProfile">
                <div class="form-group">
                    <label style="font-weight: bold;" for="fullName">Nama Lengkap*</label>
                    <input class="form-control" type="text" name="Fullname" value="@Model.Fullname" required maxlength="100" minlength="3" />
                </div>
                <div class="form-group">
                    <label for="birthDate">Tanggal Lahir</label>
                    <div class="input-group">
                        <input style="border-right: 0;" type="date" name="Dob" class="form-control" id="birthDate" value="@Model.Dob?.ToString("yyyy-MM-dd")" max="@DateTime.Today.ToString("yyyy-MM-dd")">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Nomor Handphone</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span style="background-color: white;" class="input-group-text">+62</span>
                        </div>
                        <input type="text" class="form-control" name="MobilePhone" id="phoneNumber" value="@displayMobilePhone" required digits="true" minlength="10" maxlength="15">
                    </div>
                </div>

                <input type="hidden" name="ModifiedBy" value="@Context.Session.GetString("userId")" />
                <input type="hidden" name="Id" value="@Model.Id" />

                <div class="form-group d-flex justify-content-end mt-2">
                    <button id="btnSave" type="submit" class="btn btn-primary" style="width: 100px;">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

<script>
    $("#staticModalLabel").text("@ViewBag.Title");

    $(document).ready(function () {
        // Form validation
        $("#frmUpdateProfile").validate({
            rules: {
                Fullname: {
                    required: true,
                    maxlength: 100,
                    minlength: 3
                },
                Dob: {
                    required: true,
                    date: true
                },
                MobilePhone: {
                    required: true,
                    digits: true,
                    minlength: 10,
                    maxlength: 15
                }
            },
            errorClass: "text-danger"
        });


        // Form submission
        $("#btnSave").click(function (e) {
            e.preventDefault();

            if ($("#frmUpdateProfile").validate()) {
                // Append +62 prefix to the mobile phone number
                let mobilePhone = $("#phoneNumber").val();
                if (!mobilePhone.startsWith("+62")) {
                    mobilePhone = "+62" + mobilePhone;
                    $("#phoneNumber").val(mobilePhone);
                }

                console.log("form valid");
                console.log($("#frmUpdateProfile").serialize());

                $.ajax({
                    url: "/Profile/EditProfile",
                    type: "post",
                    data: $("#frmUpdateProfile").serialize(),
                    dataType: "json",
                    beforeSend: () => { },
                    success: function (response) {
                        if (response.statusCode == 200 || response.statusCode == 201) {
                            alert(response.statusCode + "-" + response.message);
                            location.reload();
                        } else {
                            alert(response.statusCode + "-" + response.message);
                        }
                    },
                    error: function (errResponse) {
                        console.error(errResponse);
                        debugger;
                    }
                });
            } else {
                console.error("Form profile data is not valid");
            }
        });
    });
</script>
