@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <form id="otpForm">
            <div class="form-group">
                <label style="font-weight: bold" for="otp">Masukkan kode OTP yang telah dikirimkan ke email anda</label>
                <input type="text" class="form-control" id="otp" name="otp">
                <small id="expOTP" style="font-size: 0.875rem; display: none;" class="text-danger">* Kode OTP kadaluarsa, silakan kirim ulang OTP</small>
            </div>
            <div class="form-group">
                <small id="countdown" style="font-size: 0.875rem;" class="text-muted">Kirim ulang kode OTP dalam 01:30</small>
            </div>
            <div class="modal-footer">
                <button id="resendOtpBtn" style="width: 150px; display: none;" type="button" class="btn btn-primary btn-custom">Kirim Ulang OTP</button>
                <button id="confirmOtpBtn" style="width: 150px;" type="button" class="btn btn-primary btn-custom">Konfirmasi OTP</button>
            </div>
        </form>
    </div>
</div>

<script>
    $("#staticModalLabel").text("@ViewBag.Title");

    // Fungsi untuk memulai countdown
    function startCountdown(duration, display) {
        var timer = duration, minutes, seconds;
        console.log("Memulai countdown dengan durasi:", timer);

        var interval = setInterval(function () {
            minutes = Math.floor(timer / 60);
            seconds = timer % 60;

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = `Kirim ulang kode OTP dalam ${minutes}:${seconds}`;

            if (--timer < 0) {
                clearInterval(interval);
                display.textContent = "Kode OTP telah kadaluarsa";
                console.log("Countdown selesai.");
                $("#expOTP").show();
                $("#resendOtpBtn").show();
                $("#confirmOtpBtn").attr("disabled", true);
            }
        }, 1000);
    }

    // Event handler untuk tombol Kirim Ulang OTP
    $("#resendOtpBtn").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/Profile/GenerateOTPPassword',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                password: "@ViewBag.Password",
                email: "@ViewBag.Email"
            }),
            success: function (otpResponse) {
                if (otpResponse.statusCode === 200 || otpResponse.statusCode === 201) {
                    $("#staticModalLgBody").html("");
                    $("#staticModalBody").load("/Profile/OTPPassword?email=" + encodeURIComponent("@ViewBag.Email") + "&password=" + encodeURIComponent("@ViewBag.Password"), function () {
                        const countdownDuration = 60;
                        const display = document.querySelector('#countdown');
                        if (display) {
                            startCountdown(countdownDuration, display);
                        } else {
                            console.error("Elemen #countdown tidak ditemukan");
                        }
                    });
                } else {
                    console.error("Error generating OTP: ", otpResponse.message);
                }
            },
            error: function (error) {
                console.error("Error generating OTP:", error);
            }
        });
    });

    // Memulai countdown ketika halaman selesai dimuat
    window.onload = function () {
        var countdownDuration = 300;
        var display = document.querySelector('#countdown');
        console.log("Element #countdown ditemukan:", display);

        if (display) {
            startCountdown(countdownDuration, display);
        } else {
            console.error("Elemen #countdown tidak ditemukan");
        }
    };

    // Event handler untuk tombol Konfirmasi OTP
    $("#confirmOtpBtn").click(function (e) {
        e.preventDefault();

        var otp = $("#otp").val();

        $.ajax({
            url: "/Profile/VerifyToken",
            type: "POST",
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
                token: otp
            }),
            success: function (response) {
                if (response.statusCode === 200 || response.statusCode === 201) {
                    $.ajax({
                        url: '/Profile/UpdatePassword',
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify({
                            email: "@ViewBag.Email",
                            id: 4,
                            password: "@ViewBag.Password"
                        }),
                        success: function (response) {
                            console.log("Email updated to: " + "@ViewBag.Email");
                            location.reload();
                        },
                        error: function (error) {
                            console.error("Error updating email:", error);
                        }
                    });
                } else {
                    alert(response.statusCode + " - " + response.message);
                }
            },
            error: function (errResponse) {
                console.error(errResponse);
            }
        });
    });
</script>
