@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Pagination<VMMBiodataAddress>
@{
    Layout = null;
}

<div class="container my-3">
    <div class="row mb-3 align-items-center">
        <div class="col">
            <form class="d-flex align-items-center" id="frmBioAddressFilter" method="get">
                <div class="input-group">
                    <input class="form-control" type="text" id="Filter" name="filter" value="@ViewBag.Filter" placeholder="Masukkan Nama penerima atau alamat" />
                    <input type="hidden" name="tab" value="alamat" />
                    <button type="submit" id="btnSearch" class="btn btn-primary input-group-text"><i class="fas fa-search"></i></button>
                </div>

                <select id="orderByForm" class="form-select ms-1" name="orderBy"  style="width: 200px;">
                    <option value="id" selected=@(ViewBag.OrderBy == "id")>Urutkan</option>
                    <option value="label" selected=@(ViewBag.OrderBy == "label")>Label A-Z</option>
                    <option value="label_desc" selected=@(ViewBag.OrderBy == "label_desc")>Label Z-A</option>
                    <option value="recipient" selected=@(ViewBag.OrderBy == "recipient")>Recipient A-Z</option>
                    <option value="recipient_desc" selected=@(ViewBag.OrderBy == "recipient_desc")>Recipient Z-A</option>
                </select>
                
                <!-- Tombol tambah dan hapus -->
                <button id="btnAdd" data-bs-toggle="modal" data-bs-target="#staticModal" class="btn btn-success ms-2"><i class="fas fa-plus"></i></button>
                <button id="btnDeleteSelected" data-bs-toggle="modal" data-bs-target="#staticModal" class="btn btn-danger ms-2"><i class="fas fa-trash"></i></button>
            </form>
        </div>
    </div> 
</div>


    <ul class="list-group">
        @if (Model != null)
        {
            foreach (var bioAddress in Model)
            {
                if (!bioAddress.IsDelete)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="d-flex align-items-center mb-2">
                                <input value="@bioAddress.Id" type="checkbox" class="form-check-input me-2 select" data-id="@bioAddress.Id">
                                <span class="fw-bold">@bioAddress.Label</span>
                            </div>
                            <p class="mb-1 text-muted">@bioAddress.Recipient, @bioAddress.RecipientPhoneNumber</p>
                            <p class="mb-1">@bioAddress.Address, @bioAddress.LocationName</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <button data-id="@bioAddress.Id" data-bs-toggle="modal" data-bs-target="#staticModal" class="btn btn-link me-2 btnEdit"><i class="fas fa-pen"></i>Ubah</button>
                            <button data-id="@bioAddress.Id" data-bs-toggle="modal" data-bs-target="#staticModal" class="btn btn-link text-danger btnDeleteId"><i class="fas fa-trash"></i>Hapus</button>
                        </div>
                    </li>
                }
            }
        }
        else
        {
            <p>@ViewBag.Message</p>
        }
    </ul>

    <div class="row mt-3">
        <div class="col-lg-11 d-flex align-items-center">
        <!-- Form untuk mengubah ukuran halaman -->
        <form id="frmBioAddressPageSize" method="get" action="/Profile/TabAlamat">
            <div class="d-flex align-items-center ms-2">
                <input class="form-control page-size-input" type="text" id="pageSize" name="currentPageSize" value="@ViewBag.PageSize" style="width: 50px;" />
            </div>
            <input id="pageNumber" type="hidden" name="pageNumber" value="@Model.PageIndex" />
            <input id="orderBy" type="hidden" name="orderBy" value="@ViewBag.OrderBy" />
        </form>
            <div role="group" class="btn-group">
                <!-- Tombol Previous -->
                <a id="btnPrev"
                   class="btn btn-secondary @(Model.HasPreviousPage ? "" : "disabled")"
                   href="javascript:void(0)"
                   data-filter="@ViewBag.Filter"
                   data-pagenumber="@(Model.PageIndex - 1)"
                   data-currentpagesize="@ViewBag.PageSize"
                   data-orderby="@ViewBag.OrderBy"
                @(Model.HasPreviousPage ? "" : "disabled")>
                    <i class="fas fa-backward"></i>
                </a>

                <!-- Tombol Next -->
                <a id="btnNext"
                   class="btn btn-secondary @(Model.HasNextPage ? "" : "disabled")"
                   href="javascript:void(0)"
                   data-filter="@ViewBag.Filter"
                   data-pagenumber="@(Model.PageIndex + 1)"
                   data-currentpagesize="@ViewBag.PageSize"
                   data-orderby="@ViewBag.OrderBy"
                @(Model.HasNextPage ? "" : "disabled")>
                    <i class="fas fa-forward"></i>
                </a>
            </div>
            <div class="ml-3">
                Page @Model.PageIndex of @Model.TotalPages (Total Data: @Model.TotalData)
            </div>
        </div>
    </div>


<script>

    
    function restoreCheckboxState() {
        $('input[type="checkbox"]').each(function () {
            let id = $(this).val();
            console.log("id" + id)
            if (selectedIds.includes(id)) {
                $(this).prop('checked', true);  // Centang kembali checkbox
            }
        });
    }


    $(document).ready(function () {
        // Fungsi untuk delete item individual
        $(".btnDeleteId").click(function () {
            $("#staticModalBody").html("");
            $("#staticModalBody").load("/Profile/DeleteAlamat/" + $(this).data("id"));
        });

        // Fungsi untuk menambahkan alamat
        $("#btnAdd").click(function (e) {
            e.preventDefault();
            console.log("test modal create alamat");
            $("#staticModalBody").html("");
            $("#staticModalBody").load("/Profile/CreateAlamat");
        });

        // Fungsi untuk edit alamat
        $(".btnEdit").click(function () {
            console.log($(this).data("id"));
            $("#staticModalBody").html("");
            $("#staticModalBody").load("/Profile/EditAlamat/" + $(this).data("id"));
        });

        var selectedIds = [];


        $(".select").change(function () {
            let Ids = selectedIds.map(m => m).indexOf($(this).data("id"));

            if (Ids < 0) {
                selectedIds.push($(this).data("id"));
            } else if (!$(this).prop("checked")) {
                selectedIds.splice(Ids, 1);
            }

            if (selectedIds.length > 0) {
                $("#btnDeleteSelected").removeClass("disabled").attr("disabled", false);
            } else {
                $("#btnDeleteSelected").addClass("disabled").attr("disabled", true);
            }
        });


        // Fungsi untuk delete beberapa item terpilih
        $("#btnDeleteSelected").click(function (e) {
            e.preventDefault();

            if (selectedIds.length > 0) {
                console.log("Deleting IDs: ", selectedIds);
                $("#staticModalBody").html("");
                $("#staticModalBody").load("/Profile/MultipleDeleteAlamat/" + selectedIds.join(","));
            } else {
                alert("Please select at least one address to delete.");
            }
        });

        // Fungsi untuk handle pagination
        function handlePagination(button, selectedIds) {
            let filter = button.data("filter");
            let pageNumber = button.data("pagenumber");
            let currentPageSize = button.data("currentpagesize");
            let orderBy = button.data("orderby");
            console.log("selectedIds" + selectedIds);

            if (button.hasClass("disabled")) {
                return;
            }

            $.ajax({
                url: "/Profile/TabAlamat",
                type: "get",
                data: {
                    "filter": filter,
                    "pageNumber": pageNumber,
                    "currentPageSize": currentPageSize,
                    "orderBy": orderBy
                },
                success: function (response) {
                    //console.log(response);
                    $("#alamat").html(response);
                },
                error: function (errResponse) {
                    console.error(errResponse);
                }
            });
        }

        // Event handler untuk tombol Previous pada pagination
        $("#btnPrev").click(function (e) {
            e.preventDefault();
            handlePagination($(this), selectedIds);
            console.log("members prev: " + selectedIds)
            localStorage.setItem("selectedIds", JSON.stringify(selectedIds));

        });

        $("#btnNext").click(function (e) {
            e.preventDefault();
            handlePagination($(this), selectedIds);
            console.log("members Next: " + selectedIds)
            localStorage.setItem("selectedIds", JSON.stringify(selectedIds));

        });


        $("#orderByForm").change(function (e) {
            e.preventDefault();
            let filter = $("#Filter").val();
            let pageNumber = $("#pageNumber").val();
            let currentPageSize = $("#pageSize").val();
            let orderBy = $(this).val();
            console.log("orderby : " + orderBy )
            $.ajax({
                url: "/Profile/TabAlamat",
                type: "get",
                data: {
                    "filter": filter,
                    "pageNumber": pageNumber,
                    "currentPageSize": currentPageSize,
                    "orderBy": orderBy
                },
                success: function (response) {
                    console.log(response,"string");
                    $("#alamat").html(response);
                },
                error: function (errResponse) {
                    console.error(errResponse);
                }
            });
        });

        // Event handler untuk perubahan ukuran halaman (pageSize)
        $("#frmBioAddressPageSize").submit(function (e) {
            e.preventDefault();
            console.log($(this));
            let filter = $("#Filter").val();
            let pageNumber = $("#pageNumber").val();
            let currentPageSize = $("#pageSize").val();
            let orderBy = $("#orderBy").val();

            $.ajax({
                url: "/Profile/TabAlamat",
                type: "get",
                data: {
                    "filter": filter,
                    "pageNumber": pageNumber,
                    "currentPageSize": currentPageSize,
                    "orderBy": orderBy
                },
                success: function (response) {
                    console.log(response);
                    $("#alamat").html(response);

                },
                error: function (errResponse) {
                    console.error(errResponse);
                }
            });
        });

        // Event handler untuk pencarian
        $("#btnSearch").click(function (e) {
            e.preventDefault();
            console.log("button search click");
            let filter = $("#Filter").val();

            $.ajax({
                url: "/Profile/TabAlamat",
                type: "get",
                data: { "filter": filter },
                success: function (response) {
                    console.log(response);
                    $("#alamat").html(response);
                },
                error: function (errResponse) {
                    console.error(errResponse);
                }
            });
        });
    });
</script>
