@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<VMMBiodataAddress>
@{
    Layout = null;
}

<div class="container my-3">
    <div class="row mb-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Cari alamat atau nama penerima">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Urutkan</button>
        </div>
        <div class="col-auto">
            <select class="form-select">
                <option selected>Label Alamat</option>
                <option value="1">Rumah</option>
                <option value="2">Kantor</option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <button id="btnDelete" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticModal"><i class="fas fa-trash"></i> Hapus</button>
            </div>
            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-link text-decoration-none">A-Z</a>
                <input type="number" class="form-control mx-2" name="filter" value="@ViewBag.Filter" style="width: 60px;">
                <a href="#" id="btnAdd" class="btn btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#staticModal"><i class="fas fa-plus"></i> Tambah</a>
            </div>
        </div>
    </div>


    <ul class="list-group">
        @if (Model != null)
        {
            @foreach (VMMBiodataAddress bioAddress in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="d-flex align-items-center mb-2">
                            <input type="checkbox" class="form-check-input me-2">
                            <span class="fw-bold">@bioAddress.Label</span>
                        </div>
                        <p class="mb-1 text-muted">@bioAddress.Recipient, @bioAddress.RecipientPhoneNumber</p>
                        <p class="mb-1">@bioAddress.Address</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <button href="#" data-id="@bioAddress.Id" id="btnEdit" data-bs-toggle="modal" data-bs-target="#staticModal" class="btn btn-link me-2"><i class="fas fa-pen"></i>Ubah</button>
                        <button href="#" id="btnDeleteId" data-bs-toggle="modal" data-bs-target="#staticModal" class="btn btn-link text-danger"><i class="fas fa-trash"></i>Hapus</button>
                    </div>
                </li>
            }
        }
        else
        {
            <p>@ViewBag.Message</p>
        }
    </ul>


    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-secondary">Sebelumnya</button>
            <button class="btn btn-secondary">Selanjutnya</button>
        </div>
        <div class="col text-end">
            <span>Menampilkan 1 - 3 dari 3</span>
        </div>
    </div>
</div>

<script>
    $("#btnDeleteId").click(function (e) {
        $("#staticModalBody").html("")
        $("#staticModalBody").load("/Profile/DeleteAlamat")
    });

    $("#btnAdd").click(function (e) {
        $("#staticModalBody").html("")
        $("#staticModalBody").load("/Profile/CreateAlamat")
    });

    $("#btnEdit").click(function (e) {
        $("#staticModalBody").html("")
        $("#staticModalBody").load("/Profile/EditAlamat/" + $(this).data("id"))
    });

</script>
