@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}


<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-12 order-md-1 order-last text-start">
                <!-- Tambahkan text-start untuk merapikan teks ke kiri -->
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#" id="kembali-btn">Cari Dokter</a></li>
                        <li class="breadcrumb-item text-muted" aria-current="page" id="breadcrumbCurrent">@Model.Fullname</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-10">
                        <div class="col-4 text-center">
                            <div class="avatar avatar-3xl position-relative">
                                <img id="profileImage" src="~/@ViewBag.imgFolder/@(Model.ImagePath ?? "blank-profile-picture.png")" alt="Avatar" class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <h3 class="mt-3 mb-0">@Model.Fullname</h3>
                            @if (Model.SpecializationName != null)
                            {
                                <p class="text-small mb-0">@Model.SpecializationName</p>
                            }
                            else
                            {
                                <p>Belum Ada Spesialisasi</p>
                            }

                            <p>@Model.TotalYearsExperience Tahun Pengalaman</p>
                               
                            
                        </div>
                        <div class="col-4 text-center">
                            <button class="btn btn-primary">Chat Dokter</button>

                            @if (Model.HargaKonsulMulai != null)
                            {
                                <p class="mt-3">Rp. @String.Format("{0:N0}", Model.HargaKonsulMulai)</p>                                    
                            }
                            else
                            {
                                <p class="mt-3">Tidak Membuka layanan Online</p>
                            }                            
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <h5 class="mt-1">Tindakan Medis</h5>
                            @if (Model.TreatmentName.Count > 0)
                            {
                                <div style="border: 1px solid #d3d3d3; border-radius: 5px; padding: 10px; margin-top: 10px;">
                                    @foreach (VMTDoctorTreatment tindakanmedis in Model.TreatmentName)
                                    {
                                        <p class="fs-6 text-small mb-0">- @tindakanmedis.Name</p>
                                    }
                                </div>
                            }
                            else
                            {
                                <div style="border: 1px solid #d3d3d3; border-radius: 5px; padding: 10px; text-align: center; margin-top: 10px;">
                                    <p>Data Tindakan Medis belum ditambahkan</p>
                                </div>
                            }

                            <br />
                            <h5 class="mt-1">Riwayat Praktek</h5>
                            @if (Model.DoctorOffice.Count > 0)
                            {
                                <div style="border: 1px solid #d3d3d3; border-radius: 5px; padding: 10px;  margin-top: 10px;">
                                    @foreach (VMTDoctorOffice riwayarpraktek in Model.DoctorOffice)
                                    {
                                        <div class="row">
                                            <div class="col-8">
                                                <p class="mb-0">@riwayarpraktek.LocationName</p>
                                                <p class="text-muted small mb-0  ps-3">- @riwayarpraktek.Specialization</p>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-3">
                                                <p class="small">
                                                    @riwayarpraktek.StartDate.Year
                                                    -
                                                    @(riwayarpraktek.EndDate.HasValue && riwayarpraktek.EndDate.Value.Year == DateTime.Now.Year
                                                        ? "Sekarang"
                                                        : riwayarpraktek.EndDate.HasValue ? riwayarpraktek.EndDate.Value.Year.ToString() : "")
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div style="border: 1px solid #d3d3d3; border-radius: 5px; padding: 10px; text-align: center; margin-top: 10px;">
                                    <p>Data Riwayat Praktek belum di tambahkan</p>
                                </div>
                            }
                            <br />
                            <h5 class="mt-1">Pendidikan</h5>
                            @if (Model.InstitutionName.Count > 0)
                            {
                                <div style="border: 1px solid #d3d3d3; border-radius: 5px; padding: 10px;  margin-top: 10px;">
                                    @foreach (VMMDoctorEducation pendidikan in Model.InstitutionName)
                                    {
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p class="mb-0">@pendidikan.InstitutionName</p>
                                                <p class="text-muted small mb-0  ps-3">- @pendidikan.Major</p>
                                            </div>
                                            <div>
                                                <p class="small text-muted">
                                                    @pendidikan.EndYear
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div style="border: 1px solid #d3d3d3; border-radius: 5px; padding: 10px; text-align: center; margin-top: 10px;">
                                    <p>Data Pendidikan belum ditambahkan</p>
                                </div>
                            }
                        </div>

                        <div class="col-12 col-lg-8">

                            <h5 class="mt-1">Lokasi Praktek</h5>
                            @if (Model.DoctorOffice.Count > 0)
                            {
                                @foreach (VMTDoctorOffice riwayarpraktek in Model.DoctorOffice)
                                {
                                    if(riwayarpraktek.EndDate.Value.Year == DateTime.Now.Year){
                                    <div style="border: 2px solid var(--bs-primary); border-radius: 5px; padding: 10px;  margin-top: 10px;">
                                        <div class="row">
                                            <div class="col-6">
                                                    <p class="mb-0 text-primary"><strong>@riwayarpraktek.LocationName</strong></p>
                                                    <p class="fs-6 ps-3 small mb-0">@riwayarpraktek.MedicalFacilityName</p>
                                                    <p class="ps-3 small mb-0"><i class="bi bi-geo-alt-fill"></i> @riwayarpraktek.FullAddress</p>                                                
                                            </div>
                                                <div class="col-2">
                                                    
                                                </div>
                                            <div class="col-4 text-center"> 
                                                <p class="small text-muted"></p>
                                                    Konsultasi Mulai dari<br />
                                                    @if (riwayarpraktek.HargaKonsulMulai != null)
                                                    {
                                                        <p>Rp. @String.Format("{0:N0}", riwayarpraktek.HargaKonsulMulai)</p>
                                                    }
                                                    else
                                                    {
                                                        <p>Data Belum Ada</p>
                                                    }
                                            </div>
                                        </div>
                                        <br />
                                            <a href="javascript:void(0);" id="toggleLink-@riwayarpraktek.Id" onclick="toggleSchedule('scheduleDetails-@riwayarpraktek.Id', this)" style="text-decoration: none;">
                                                <i class="bi bi-caret-down-fill"></i> <span>Lihat Jadwal Praktek</span>
                                            </a>
                                            <div id="scheduleDetails-@riwayarpraktek.Id" style="display: none;">
                                                <br />
                                                @if (riwayarpraktek.JadwalPraktek.Count > 0)
                                                {
                                                    <div class="row">
                                                        <div class="col-6">
                                                            @foreach (VMMMedicalFacilitySchedule jadwal in riwayarpraktek.JadwalPraktek)
                                                            {

                                                                <div class="row">
                                                                    <div class="col-6 text-center"><p>@jadwal.Day</p></div>
                                                                    <div class="col-6 text-center">@jadwal.TimeScheduleStart - @jadwal.TimeScheduleEnd</div>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="col-2">
                                                        </div>
                                                        <div class="col-4 d-flex justify-content-center align-items-center">
                                                            <button id="btnAppointment" data-id="@Model.Id" data-bs-target="#staticModal" class="btn btn-primary">Buat Janji</button>
                                                        </div>

                                                    </div>
                                                }
                                                else
                                                {
                                                    <p>Jadwal praktek belum tersedia.</p>
                                                }

                                            </div>
                                    </div>
                                    }
                                }                            
                            }
                            else
                            {
                                <table style="border: 2px solid #b0c4de; border-radius: 5px; padding: 10px; width: 100%; margin-top: 10px; border-collapse: separate; border-spacing: 0;">
                                    <tr style="border-bottom: 2px solid var(--bs-primary); text-align: center;  padding: 10px;">
                                        <td>
                                            <p>Belum Ada Daftar Praktek</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" id="toggleSchedule" style="text-decoration: none;">
                                                <i class="bi bi-caret-down-fill"></i> Lihat Jadwal Praktek
                                            </a>
                                            <div id="scheduleDetails" style="display: none;">
                                                <p>Jadwal praktek belum tersedia.</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function toggleSchedule(scheduleId, linkElement) {
        var scheduleElement = document.getElementById(scheduleId);
        var linkText = linkElement.querySelector('span');

        if (scheduleElement.style.display === "none") {
            scheduleElement.style.display = "block";
            linkText.textContent = "Sembunyikan Jadwal Praktek";
        } else {
            scheduleElement.style.display = "none";
            linkText.textContent = "Lihat Jadwal Praktek";
        }
    }


    $(document).ready(function () {
        var firstScheduleElement = document.querySelector('[id^="scheduleDetails-"]');
        var firstLinkElement = document.querySelector('[id^="toggleLink-"] span');

        if (firstScheduleElement) {
            firstScheduleElement.style.display = "block";  // Tampilkan data pertama
            firstLinkElement.textContent = "Sembunyikan Jadwal Praktek";  // Ubah teks toggle pertama
        }


        //
        $('#toggleSchedule').on('click', function (e) {
            e.preventDefault();

            var scheduleDetails = $('#scheduleDetails');
            var toggleText = $('#toggleSchedule');

            // Toggle visibility of the schedule
            scheduleDetails.toggle();

            // Change text and icon accordingly
            if (scheduleDetails.is(':visible')) {
                toggleText.html('<i class="bi bi-caret-up"></i> Sembunyikan Jadwal Praktek');
            } else {
                toggleText.html('<i class="bi bi-caret-down"></i> Lihat Jadwal Praktek');
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#kembali-btn').click(function (e) {
            e.preventDefault(); // Mencegah default action anchor
            window.history.back(); // Kembali ke halaman sebelumnya
        });
    });
</script>

@if (@Context.Session.GetString("userId") != null && @Context.Session.GetString("userRoleCode") == "ROLE_PASIEN")
{
    <script>
        $("#btnAppointment").click(function (e) {
            $("#staticModalBody").html(spinner);
            $("#staticModalBody").load("/Appointment/Create/" + $(this).attr("data-id"));
            $("#staticModal").modal("show");
        });
    </script>
}
else if (@Context.Session.GetString("userId") != null && @Context.Session.GetString("userRoleCode") != "ROLE_PASIEN")
{
    <script>
        $("#btnAppointment").click(function (e) {
            toastAlert("You're not authorized!", "error")
        });
    </script>
}
else
{
    <script>
        $("#btnAppointment").click(function (e) {
            $("#staticModalBody").html(spinner);
            var currentUrl = $(location).attr('href')
            $("#staticModalBody").load(`/Auth/Login`);
        });
    </script>
}