@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using HealthCare340B.Web
@model List<VMMDoctor>

@{
    Layout = "_HasilDokterView";
}

<div class="container mt-3">
    <!-- Breadcrumb -->
    <div class="p-2 rounded" style="background-color: #F5F8FF;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Index" class="text-dark">
                        <span>Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item active text-dark" aria-current="page">
                    <span>Cari Dokter</span>
                </li>
            </ol>
        </nav>
    </div>

    <!-- Header Summary -->
    <div class="container mt-4">
        <div class="row mb-4">
            <div class="col-md-8">
                <h5 class="text-secondary">
                    Hasil Pencarian berdasarkan kata kunci:
                </h5>
                <p class="text-muted" style="font-size:20px;">
                    @if (!string.IsNullOrEmpty(ViewBag.Location))
                    {
                        <span>Lokasi: @ViewBag.Location</span>
                        <br />
                    }
                    @if (!string.IsNullOrEmpty(ViewBag.DoctorName))
                    {
                        <span>Nama Dokter: @ViewBag.DoctorName</span>
                        <br />
                    }
                    @if (!string.IsNullOrEmpty(ViewBag.Specialization))
                    {
                        <span>Spesialisasi: @ViewBag.Specialization</span>
                        <br />
                    }
                    @if (!string.IsNullOrEmpty(ViewBag.Treatment))
                    {
                        <span>Perawatan: @ViewBag.Treatment</span>
                        <br />
                    }
                </p>
            </div>
            <div class="col-md-4 text-end">
                <button class="btn btn-outline-primary mt-2" id="researchBtn" data-bs-toggle="modal" data-bs-target="#staticModal">Ulangi Pencarian</button>
            </div>
        </div>
    </div>

    <!-- Cards for Doctor Information -->
    @if (Model != null)
    {
        <p>Jumlah dokter ditemukan: @Model.Count</p>
        @if (Model.Any())
        {
            <div class="row pb-4">
                @foreach (var doctor in Model)
                {
                    <div class="col-md-6 mb-4">
                        <div class="card border-info h-100">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Left side for doctor information -->
                                    <div class="col-md-8">
                                        <h5 class="card-title">@doctor.Fullname</h5>
                                        <p class="text-secondary">@doctor.Specialization</p>
                                        <p class="text-danger">Pengalaman: @doctor.ExperienceYears tahun</p>
                                        <p><i class="fas fa-hospital"></i> @doctor.MedicalFacilityName</p>
                                        <button class="btn btn-outline-info mt-2" data-id="@doctor.Id" id="DetailDocter">Lihat info lebih banyak</button>
                                    </div>
                                    <!-- Right side for doctor actions -->
                                    <div class="col-md-4 text-center">
                                        @if (!string.IsNullOrEmpty(doctor.ImagePath))
                                        {
                                            <img id="profileImage" src="~/@ViewBag.ImgFolder/@(doctor.ImagePath ?? "images/blank-profile-picture.png")" alt="Avatar" class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
                                        }
                                        else
                                        {
                                            <img id="profileImage" src="~/images/images_doctor.jpeg" alt="Avatar" class="rounded-circle" style="width: 100px; height: 100px;">
                                        }
                                        <div class="d-grid gap-2">
                                            @if (doctor.IsOnline && doctor.IsAvailable)
                                            {
                                                <button class="btn btn-primary">Chat</button>
                                                <button data-id="@doctor.Id" class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#staticModal">Buat Janji</button>
                                            }
                                            else if (doctor.IsOnline && !doctor.IsAvailable)
                                            {
                                                <button class="btn btn-primary" disabled>Chat</button>
                                                <button data-id="@doctor.Id" class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#staticModal" disabled>Buat Janji</button>
                                            }
                                            else
                                            {
                                                <span class="text-muted">Offline</span>
                                                <button data-id="@doctor.Id" class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#staticModal">Buat Janji</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <p>Tidak ada dokter ditemukan berdasarkan pencarian Anda.</p>
        </div>
    }

</div>

<script>
    let spinner = "<div class='d-flex justify-content-center'>" +
        "<div class='spinner-border' role='status'>" +
        "<span class='visually-hidden'>Loading...</span>" +
        "</div>" +
        "</div>"

    $("#researchBtn").click(function (e) {
        $("#staticModalBody").html("")
        $("#staticModalBody").load("/Doctor/SearchDoctor")
    });

    $("#DetailDocter").click(function (e) {
        var doctorId = $(this).attr("data-id");  // Mengambil nilai dari atribut data-id
        window.location.href = "/Doctor/DetailDoctor/" + doctorId;  // Mengarahkan ke halaman detail berdasarkan doctorId
    });

</script>

@if (@Context.Session.GetString("userId") != null && @Context.Session.GetString("userRoleCode") == "ROLE_PASIEN")
{
    <script>
        $(".btn-success").click(function (e) {
            $("#staticModalBody").html(spinner);
            $("#staticModalBody").load("/Appointment/Create/" + $(this).attr("data-id"));
        });
    </script>
}
else if (@Context.Session.GetString("userId") != null && @Context.Session.GetString("userRoleCode") != "ROLE_PASIEN")
{
    <script>
        $(".btn-success").click(function (e) {
           toastAlert("You're not authorized!", "error")
        });
    </script>
}
else
{
    <script>
        $(".btn-success").click(function (e) {
            $("#staticModalBody").html(spinner);
            var doctorId = $(this).attr("data-id");
            var redirectUrl = ($(location).attr('protocol') + "//" + $(location).attr('host') + "/Doctor/DetailDoctor/" + doctorId);
            $("#staticModalBody").load(`/Auth/Login?url=${redirectUrl}`);
        });
    </script>
}