@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="card">
    <div class="card-body" >
        <form id="frmCariDokter">
            <div class="card-title row mb-1">
                <label class="col-6 col-form-label ">Lokasi</label>
                <div class="row mb-1">
                    <select id="MedFacilityId" name="MedicalFacilityName" class="form-select">
                        <option value="">--Select Medical Facility--</option>
                        @if (ViewBag.MedicalFacility != null)
                        {
                            foreach (VMMMedicalFacility medFac in ViewBag.MedicalFacility)
                            {
                                <option value="@medFac.Id">@medFac.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-6 col-form-label ">Nama Dokter</label>
                <div class="row mb-1">
                    <div class="col-12">
                        <input class="form-control" type="text" name="DoctorName" />
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-10 col-form-label">Spesialisasi/Sub-spesialisasi <span class="text-danger">*</span></label>
                <div class="row mb-1">
                    <select id="SpecialityId" name="Specialization" class="form-select">
                        <option value="">--Select Specialization / Sub-Specialicity--</option>
                        @if (ViewBag.Specialization != null)
                        {
                            foreach (VMMSpecialization spec in ViewBag.Specialization)
                            {
                                <option value="@spec.Id">@spec.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-6 col-form-label ">Tindakan Medis</label>
                <div class="row mb-1">
                    <select id="treatmentId" name="Treatment" class="form-select">
                        <option value="">--Select Treatment--</option>
                        @if (ViewBag.DoctorTreatment != null)
                        {
                            foreach (VMTDoctorTreatment treatment in ViewBag.DoctorTreatment)
                            {
                                <option value="@treatment.Id">@treatment.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <input type="hidden" name="CreateBy" value="1" />
        </form>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <button type="button" id="btnAturUlang" class="btn btn-success">Atur Ulang</button>
        <button type="reset" id="btnSearch" class="btn btn-primary">Search</button>
    </div>
</div>

<script>
    $(document).ready(() => {
        $("#staticModalLabel").text("@ViewBag.Title");
    });
</script>