@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}


<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-12 order-md-1 order-last text-start">
                <!-- Tambahkan text-start untuk merapikan teks ke kiri -->
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#" id="breadcrumbProfile">Profile</a></li> <!-- Menambahkan link pada Profile -->
                        <li class="breadcrumb-item active" aria-current="page" id="breadcrumbCurrent">Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <!-- Avatar dengan Icon Edit -->
                            <form id="frmFoto" enctype="multipart/form-data">
                                <div class="avatar avatar-2xl position-relative">
                                    <img id="profileImage" src="~/@ViewBag.imgFolder/@(Model.ImagePath ?? "blank-profile-picture.png")" alt="Avatar" class="rounded-circle">

                                    <label for="imageUpload" class="position-absolute" style="top: 0px; right: -20px; cursor: pointer;">
                                        <i class="bi bi-pencil-fill" style="font-size: 1rem;"></i>
                                    </label>
                                    <input type="file" id="imageUpload" name="ImageFile" class="d-none" accept="image/*" onchange="previewImage(event)">
                                    <input type="hidden" name="ImagePath" value="@Model.ImagePath" />
                                </div>
                            </form>

                            <button type="button" id="saveImageBtn" class="btn btn-primary mt-3 d-none">Simpan Gambar</button>
                            <button type="button" id="cancelImageBtn" class="btn btn-danger mt-3 d-none">Cancel</button>

                            <h3 class="mt-3 mb-0 text-center">@Model.Fullname</h3>

                            @if (Model.SpecializationName.Count > 0)
                            {

                                @foreach (VMTCurrentDoctorSpecialization specialization in Model.SpecializationName)
                                {
                                    if (specialization.Specialization != null)
                                    {
                                        <p class="text-small mb-0">@specialization.Specialization</p>
                                    }
                                    else
                                    {
                                        <p>Anda Belum Menambahkan Spesialisasi</p>
                                    }
                                }

                            }
                            else
                            {
                                <p>Anda Belum Menambahkan Spesialisasi</p>
                            }


                            <i class="bi bi-star-fill text-warning mb-0"></i>

                            <!-- Navbar-like Tab Navigation -->
                            <ul class="nav nav-tabs flex-column mt-3 w-100" id="myTab1" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link w-100 text-start d-flex justify-content-between align-items-center" id="Janji-tab" data-bs-toggle="tab" data-bs-target="#Janji" type="button" role="tab" aria-controls="Janji" aria-selected="true">
                                        Janji <span class="badge bg-primary ms-2">
                                            @{
                                                int appointmentCount = 0;
                                                foreach (VMTAppointment janji in Model.Appointment)
                                                {
                                                    appointmentCount++;
                                                }
                                                @appointmentCount
                                            }
                                        </span>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link w-100 text-start" id="Obrolan-tab" data-bs-toggle="tab" data-bs-target="#Obrolan" type="button" role="tab" aria-controls="Obrolan" aria-selected="false">Obrolan / Konsultasi</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-primary">Tentang Saya</h3>
                        <div>
                            <h5 class="mt-1">Tindakan Medis</h5>
                            @if (Model.TreatmentName.Count > 0)
                            {
                                @foreach (VMTDoctorTreatment tindakanmedis in Model.TreatmentName)
                                {
                                    <p class="fs-6 text-small mb-0 ps-3">- @tindakanmedis.Name</p>
                                }
                            }
                            else
                            {
                                <p>Anda Belum Menambahkan Tindakan Medis</p>
                            }

                            <br />
                            <h5 class="mt-1">Riwayat Praktek</h5>
                            @if (Model.DoctorOffice.Count > 0)
                            {

                                @foreach (VMTDoctorOffice riwayarpraktek in Model.DoctorOffice)
                                {
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="mb-0">@riwayarpraktek.LocationName</p>
                                            <p class="text-muted small mb-0">@riwayarpraktek.Specialization</p>
                                        </div>
                                        <div>
                                            <p class="small text-muted">
                                                @riwayarpraktek.StartDate.Year
                                                -
                                                @(riwayarpraktek.EndDate.HasValue && riwayarpraktek.EndDate.Value.Year == DateTime.Now.Year
                                                    ? "Sekarang"
                                                    : riwayarpraktek.EndDate.HasValue ? riwayarpraktek.EndDate.Value.Year.ToString() : "")
                                            </p>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>Anda Belum Menambahkan Riwayat Praktek</p>
                            }
                            <br />
                            <h5 class="mt-1">Pendidikan</h5>
                            @if (Model.InstitutionName.Count > 0)
                            {

                                @foreach (VMMDoctorEducation pendidikan in Model.InstitutionName)
                                {
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="mb-0">@pendidikan.InstitutionName</p>
                                            <p class="text-muted small mb-0">- @pendidikan.Major</p>
                                        </div>
                                        <div>
                                            <p class="small text-muted">
                                                @pendidikan.EndYear
                                            </p>
                                        </div>
                                    </div>
                                    <br />
                                }
                            }
                            else
                            {
                                <p>Anda Belum Menambahkan Pendidikan</p>
                            }
                            <br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-8">
                <div class="card" style="height: 70vh;">
                    <div class="card-body">
                        <div class="page-content">
                            @RenderBody()

                            <!-- Tab Content -->
                            <div class="tab-content mt-3" id="profileTabsContent">
                                <div class="tab-pane fade" id="Janji" role="tabpanel" aria-labelledby="Janji-tab">
                                    <h5>Janji</h5>
                                    <p>Konten tentang Janji.</p>
                                </div>
                                <div class="tab-pane fade" id="Obrolan" role="tabpanel" aria-labelledby="Obrolan-tab">
                                    <h5>Obrolan</h5>
                                    <p>Konten tentang Obrolan.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
        function previewImage(event) {
        const reader = new FileReader();
        const file = event.target.files[0];

        reader.onload = function () {
            const output = document.getElementById('profileImage');
            output.src = reader.result; // Ubah source image menjadi hasil file yang diunggah
        };

        if (file) {
            reader.readAsDataURL(file); // Mulai membaca file gambar

            // Tampilkan tombol "Simpan Gambar" setelah gambar berhasil diunggah
            document.getElementById('saveImageBtn').classList.remove('d-none');
            document.getElementById('cancelImageBtn').classList.remove('d-none');
        }
    }

    function saveImage() {


    }

    $(document).ready(function () {
        // Event ketika tab Obrolan di klik
        $('#Obrolan-tab').on('click', function () {
            $('#breadcrumbCurrent').text('Obrolan'); // Update breadcrumb menjadi Obrolan
            $('#breadcrumbProfile').attr('href', '#').on('click', function () {
                // Kembali ke profil ketika breadcrumb Profile diklik
                $('#breadcrumbProfile').attr('href', '@Url.Action("Index", "Profile")')
            });
            if ($(this).hasClass('active')) {
                $('#spesialisasi').empty();
                $('#tindakan').empty();
                $('#aktivitas').empty();
                $('#konsultasi').empty();
                $('#pengaturan').empty();
                $('#myTab').hide();
            }
        });

        // Event ketika tab Janji di klik
        $('#Janji-tab').on('click', function () {
            $('#breadcrumbCurrent').text('Janji'); // Update breadcrumb menjadi Janji
            $('#breadcrumbProfile').attr('href', '@Url.Action("Index", "Profile")');

            if ($(this).hasClass('active')) {
                $('#spesialisasi').empty();
                $('#tindakan').empty();
                $('#aktivitas').empty();
                $('#konsultasi').empty();
                $('#pengaturan').empty();
                $('#myTab').hide();
            }
        });

        // Default profile breadcrumb behavior
        $('#breadcrumbProfile').on('click', function () {
            $('#breadcrumbProfile').attr('href', '@Url.Action("Index", "Profile")')
        });
    });



    $("#saveImageBtn").click((e) => $("#frmFoto").submit())
    $("#frmFoto").submit(function (e) {
        e.preventDefault()
        let formData = new FormData($("#frmFoto")[0])
        if ($(this).valid()) {
            $.ajax({
                url: "/Profile/Edit",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: () => { },
                success: function (res) {
                    if (res.statusCode == 201 || res.statusCode == 200) {
                        location.reload();
                    }
                },
                error: function (errRes) {
                    console.error(errRes)
                    debugger
                }
            })
        } else { return false }
    });
    $("#cancelImageBtn").click((e) => {
        e.preventDefault(); // Mencegah aksi default tombol jika ada
        location.reload();  // Reload halaman
    });

</script>
