@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>@ViewData["Title"]</h3>
            <p class="text-subtitle text-muted"></p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    @foreach (var item in ViewBag.Breadcrumb as List<BreadcrumbItem>)
                    {
                        if (item.IsActive)
                        {
                            <li class="breadcrumb-item active" aria-current="page">@item.Name</li>
                        }
                        else
                        {
                            <li class="breadcrumb-item">
                                <a asp-controller="@item.Controller" asp-action="@item.Action">@item.Name</a>
                            </li>
                        }
                    }
                </ol>
            </nav>
        </div>
    </div>
</div>
<section class="section">
    <div class="row">
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <div class="avatar avatar-2xl">
                            <img src="~/lib/mazer/compiled/jpg/2.jpg" alt="Avatar" />
                        </div>

                        <h3 class="mt-3"><i class="fas fa-star text-warning"></i></h3>
                        <p class="mb-1">Bronze Member</p>
                        <p>Since 2020</p>
                    </div>
                </div> 
            </div>

            <div class="card">
                <div class="card-body">
                    <partial name="_SideMenuProfil" />
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-9">
            <div class="card">
                <div id="cardBodyContent" class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        // Saat salah satu tombol pill diklik
        $('.nav-pills .nav-link').on('click', function (e) {
            e.preventDefault();  // Mencegah aksi default link

            // Sembunyikan tab Profil, Alamat, Pembayaran
            $('#myTab').hide();
            $('#myTabContent').hide();
            // Hapus semua 'active' di pill sebelumnya
            $('.nav-pills .nav-link').removeClass('active');
            // Tambahkan 'active' ke tombol pill yang diklik
            $(this).addClass('active');

            // Sembunyikan semua konten pill
            $('.tab-pane').hide();

            // Tampilkan konten sesuai dengan tombol pill yang dipilih
            var target = $(this).attr('href');
            $(target).show();
        });
    });
</script>

