@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Pagination<VMMSpecialization>
@{
}
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>@ViewBag.Title</h3>
            <p class="text-subtitle text-muted"></p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">Beranda</a>
                    </li>
                    <li class="breadcrumb-item text-muted" aria-current="page">Spesialisasi</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<section class="section">
    <div class="row" id="table-striped">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex flex-wrap justify-content-between">
                        <button id="btnAdd" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#staticModal">
                            <i class="fas fa-plus"></i><b> Tambah</b>
                        </button>
                        <form id="frmCategoryfilter" asp-controller="Specialization" asp-action="Index" class="d-flex flex-wrap mb-2">
                            <div class="input-group">
                                <span class="input-group-text">Search:</span>
                                <input class="form-control" type="text" id="filter" name="filter" value="@ViewBag.filter" />
                                <button type="submit" class="btn btn-success input-group-text"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                        <form id="frmpage" method="get" asp-controller="Specialization" asp-action="Index" class="d-flex flex-wrap mx-md-5 mb-2">
                            <div class="input-group">
                                <span class="input-group-text">Tampilkan Jumlah Data : </span>
                                <select class="form-select" id="currPageSize" name="currPageSize" style="min-width: 150px;">
                                    @if (ViewBag.PageSize == 5)
                                    {
                                        <option value="@ViewBag.PageSize" selected>
                                            @ViewBag.PageSize
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="5">5</option>
                                    }
                                    @if (ViewBag.PageSize == 10)
                                    {
                                        <option value="@ViewBag.PageSize" selected>
                                            @ViewBag.PageSize
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="10">10</option>
                                    }
                                    @if (ViewBag.PageSize == 15)
                                    {
                                        <option value="@ViewBag.PageSize" selected>
                                            @ViewBag.PageSize
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="15">15</option>
                                    }
                                    @if (ViewBag.PageSize == 20)
                                    {
                                        <option value="@ViewBag.PageSize" selected>
                                            @ViewBag.PageSize
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="20">20</option>
                                    }
                                   
                                    
                                    
                                </select>
                                <input type="hidden" name="filter" value="@ViewBag.filter" />
                                <input type="hidden" name="pageNumber" value="@(Model.PageIndex)" />
                            </div>
                            
                            
                        </form>
                    </div>
                </div>

                <div class="card-content">
                    <div class="table-responsive">
                        <div class="card-body">
                            <!-- table striped -->
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th class="col-2 text-center align-middle">No</th>
                                        <th class="col-2 text-center align-middle">Created By</th>
                                        <th class="col-6 text-center align-middle">Name</th>
                                        <th class="col-2 text-center align-middle">Modified By</th>
                                        <th class="col-4 text-center align-middle">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int no = (Model.PageIndex - 1) * ViewBag.PageSize + 1; // Menghitung nomor berdasarkan halaman saat ini
                                    }

                                    @{
                                        if (Model.TotalData > 0)
                                        {
                                            foreach (VMMSpecialization spesialisasi in Model)
                                            {
                                                <tr>
                                                    <td class="text-center align-middle">@no</td>
                                                    <td class="text-center align-middle">@spesialisasi.fullname</td>
                                                    <td class="text-center align-middle">@spesialisasi.Name</td>
                                                    <td class="text-center align-middle">@spesialisasi.fullnameMod</td>                         
                                                    <td class="text-center align-middle">
                                                        <div class="btn-group" role="group">
                                                            <button data-id="@spesialisasi.Id" class="btn btn-primary btnEdit" title="Edit" data-bs-toggle="modal" data-bs-target="#staticModal"><i class="fas fa-edit"></i></button>
                                                            <button data-id="@spesialisasi.Id" data-page="@Model.PageIndex" data-size="@ViewBag.PageSize" class="btn btn-danger" title="Delete" data-bs-toggle="modal" data-bs-target="#staticModal"><i class="fas fa-trash-alt"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                no++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="3" class="text-center align-middle">Data Belum Ada</td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="row">
    <div class="col-10 text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-primary justify-content-center">
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageIndex <= 1 ? 1 : Model.PageIndex - 1, currPageSize = ViewBag.PageSize, filter = ViewBag.filter})" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { pageNumber = i, currPageSize = ViewBag.PageSize, filter = ViewBag.filter})">
                            @i
                        </a>
                    </li>
                }

                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageIndex >= Model.TotalPages ? Model.TotalPages : Model.PageIndex + 1, currPageSize = ViewBag.PageSize, filter = ViewBag.filter})" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<script>
    $("#currPageSize").change((e) => $("#frmpage").submit());

    $("#btnAdd").click(function (e) {
        $("#staticModalBody").html("");
        $("#staticModalBody").load("/Specialization/Create/");
    });

    $(".btnEdit").click(function (e) {
        $("#staticModalBody").html("");
        $("#staticModalBody").load("/Specialization/Edit/" + $(this).data("id"));
    });
    $(".btn-danger").click(function (e) {
        $("#staticModalBody").html("");

        // Ambil ID, Page Number, dan Page Size dari atribut data
        var id = $(this).data("id");
        var pageNumber = $(this).data("page");
        var pageSize = $(this).data("size");

        // Kirim ID, Page Number, dan Page Size ke modal delete
        $("#staticModalBody").load("/Specialization/Delete/" + id + "?pageNumber=" + pageNumber + "&currPageSize=" + pageSize);
    });
</script>