@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMMDoctor?
@{
    Layout = null;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="card">
    <div class="card-body">
        <div class="row d-flex justify-content-between">
            <div class="col-3">
                <img id="profileImage" src="~/@ViewBag.imgFolder/@(Model.ImagePath ?? "blank-profile-picture.png")" alt="Avatar" class="img-thumbnail rounded-circle">
            </div>
            <div class="col-2"></div>
            <div class="col-7">
                <h3>@Model.Fullname</h3>
                <h5>@Model.Str</h5>
            </div>
        </div>
        &nbsp;
        <form id="frmAppointment">
            <div class="row mb-3">
                <div class="col-4">Konsultasi Untuk<span class="text-danger">*</span></div>
                <div class="col-8">
                    <select id="member" name="Member" class="form-select">
                        <option value="0">Sendiri</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">Faskes<span class="text-danger">*</span></div>
                <div class="col-8">
                    <select id="medFac" name="MedFac" class="form-select">
                        <option value="0">-- Select MedFac --</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">Waktu Kedatangan<span class="text-danger">*</span></div>
                <div class="input-group d-inline-flex align-items-center w-auto">
                    <input id="date" name="AppointmentDate" type="datetime" size="24" disabled />
                    <button class="btn btn-info"><i class="fas fa-calendar"></i></button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">Tindakan<span class="text-danger">*</span></div>
                <div class="col-8">
                    <select id="tindakan" name="Tindakan" class="form-select" disabled>
                        <option value="">-- Select Action --</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-between">
        <div class="w-10"></div>
        <div class="w-30"><button id="btnCancel" class="btn btn-outline-danger">Cancel</button></div>
        <div class="w-10"></div>
        <div class="w-30"><button id="btnSave" class="btn btn-outline-success">Save</button></div>
        <div class="w-10"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    $(document).ready(() => {
        $.ajax({
            url: "Appointment/GetMemberById",
            data: {
                biodataId: @Context.Session.GetInt32("userBiodataId")
            },
            dataType: "json",
            beforeSend: () => { },
            success: function (response) {
                debugger;
                console.log(response.statusCode);
                $("#member").empty();
                $("#member").append(
                    `<option value="0">Sendiri</option>`
                );
                if (response.statusCode == 200) {
                    if (response.data.length > 0) {
                        $.each(
                            response.data,
                            function (idx, data) {
                                $("#member").append(
                                    `<option value="${data.id}">${data.fullname}, ${data.customerRelationName}</option>`
                                );
                            }
                        );
                    }

                }
            },
            error: function (errResponse) {
                console.error("errResponse", errResponse)
                debugger;
            }
        });

        $.ajax({
            url: "Appointment/GetMedFacByDoctorId",
            data: {
                doctorId: @ViewBag.DoctorId
                },
            dataType: "json",
            beforeSend: () => { },
            success: function (response) {
                debugger;
                console.log(response.statusCode);
                $("#medFac").empty();
                $("#medFac").append(
                    `<option value="">-- Select MedFac --</option>`
                );
                if (response.statusCode == 200) {
                    if (response.data.length > 0) {
                        $.each(
                            response.data,
                            function (idx, data) {
                                $("#medFac").append(
                                    `<option value="${data.id}">${data.name}</option>`
                                );
                            }
                        );
                    }
                }
            },
            error: function (errResponse) {
                console.error("errResponse", errResponse)
                debugger;
            }
        });

        $("#medFac").change(function(e) {
            $("#tindakan").empty();
            $("#date").val("");
            if ($(this).val() != 0) {
                $.ajax({
                    url: "Appointment/GetSchedule",
                    data: {
                        medFacId: $(this).val(),
                        doctorId: @ViewBag.DoctorId
                            },
                    dataType: "json",
                    beforeSend: () => { },
                    success: function(response) {
                        $("#date").val("");
                        $("#date").prop("disabled", false);
                        $("#date").flatpickr({
                            minDate: new Date().fp_incr(1),
                            dateFormat: "Y-m-d",
                            enable: [
                                function (date) {
                                    var checkDay = false;
                                    $.each(
                                        response,
                                        function (idx, data) {
                                            if (date.getDay() === data) {
                                                checkDay = true;
                                                return;
                                            }
                                        }
                                    );
                                    return checkDay;
                                }                                
                            ]
                        });
                    }
                });

                $.ajax({
                    url: "Appointment/GetTreatment",
                    data: {
                        medFacId: $(this).val(),
                        doctorId: @ViewBag.DoctorId
                    },
                    dataType: "json",
                    beforeSend: () => { },
                    success: function (response) {
                        debugger;
                        console.log(response.statusCode);
                        $("#tindakan").empty();
                        if (response.statusCode == 200) {
                            if (response.data.length > 0) {
                                $("#tindakan").prop("disabled", false);
                                $.each(
                                    response.data,
                                    function (idx, data) {
                                        $("#tindakan").append(
                                            `<option value="${data.id}">${data.name}</option>`
                                        );
                                    }
                                );
                            }
                        }
                    },
                    error: function (errResponse) {
                        console.error("errResponse", errResponse)
                        debugger;
                    }
                });
            }
            else {
                $("#tindakan").empty();
                $("#tindakan").prop("disabled", true);
                $("#date").val("");
                $("#date").prop("disabled", true);
            }
        })
    })
</script>