@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <p>Anda yakin akan membatalkan rencana kedatangan berikut?</p>
        &nbsp;
        <div>
            <h6 class="mb-0">@ViewBag.CustomerName</h6>
            <p class="mb-0">@ViewBag.AppointmentDate - @ViewBag.MedicalFacilityName</p>
            <p class="mb-0">@ViewBag.DoctorName - @ViewBag.Treatment</p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="w-10"></div>
        <div class="w-30"><button id="btnCancel" class="btn btn-outline-info">Cancel</button></div>
        <div class="w-10"></div>
        <div class="w-30"><button id="btnDelete" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticModalLg">Batalkan Janji</button></div>
        <div class="w-10"></div>
    </div>
</div>

<script>
    $(document).ready(() => {
        $("#staticModalLabel").text("@ViewBag.Title");
        $("#btnDelete").click(function (e) {
            $.ajax({
                url: "/Appointment/DeleteOne",
                type: "post",
                data: {
                    id: @ViewBag.AppointmentId
                },
                dataType: "json",
                success: function(response) {
                    debugger;
                    if (response.statusCode == 200) {
                        $("#staticModalLg").modal("hide");
                        location.href = "/Appointment/RencanaKedatangan";
                    }
                    else {
                        toastAlert(response.message, "error");
                    }
                },
                error: function(errResponse) {
                    console.log(errResponse);
                    debugger;
                }
            });
        });

        $("#btnCancel").click(function (e) {
            $("#staticModalLg").modal("hide");
        });
    })
</script>