@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VMMDoctor?
@{
    Layout = null;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="card">
    <div class="card-body">
        <div class="row d-flex justify-content-between">
            <div class="col-3">
                <img id="profileImage" src="~/@ViewBag.ImgFolder/@(Model.ImagePath ?? "blank-profile-picture.png")" alt="Avatar" class="img-thumbnail rounded-circle">
            </div>
            <div class="col-2"></div>
            <div class="col-7">
                <h3>@Model.Fullname</h3>
                <h5>@Model.Str</h5>
            </div>
        </div>
        &nbsp;
        <form id="frmAppointment">
            <div class="row mb-3">
                <div class="col-4">Konsultasi Untuk<span class="text-danger">*</span></div>
                <div class="col-8">
                    <select id="member" name="Member" class="form-select" disabled>
                        <option value="@ViewBag.CustomerId">@ViewBag.CustomerName</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">Faskes<span class="text-danger">*</span></div>
                <div class="col-8 mb-1">
                    <select id="medFac" name="MedFac" class="form-select" disabled>
                        <option value="@ViewBag.MedicalFacility">@ViewBag.MedicalFacilityName</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">Waktu Kedatangan<span class="text-danger">*</span></div>
                <div class="col-8">
                    <input id="date" class="form-control" name="AppointmentDate" type="text" placeholder="Click here to select date" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">Sesi<span class="text-danger">*</span></div>
                <div class="col-8">
                    <select id="sesi" name="Sesi" class="form-select" disabled>
                        <option value="">-- Select Sesi --</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">Tindakan</div>
                <div class="col-8">
                    <select id="tindakan" name="Tindakan" class="form-select" disabled>
                        <option value="">-- Select Action --</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-between">
        <div class="w-10"></div>
        <div class="w-30"><button id="btnCancelUpdate" class="btn btn-outline-danger">Cancel</button></div>
        <div class="w-10"></div>
        <div class="w-30"><button type="button" id="btnSave" class="btn btn-outline-info" data-bs-target="#staticModalLg" disabled>Buat Janji</button></div>
        <div class="w-10"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    $(document).ready(() => {
        $("#staticModalLabel").text("@ViewBag.Title");

        var emptySlotDate = null;
        var startDate = null;
        var endDate = null;
        $.ajax({
            url: "/Appointment/GetStartDate",
            data: {
                doctorId: @ViewBag.DoctorId,
                medFacId: @ViewBag.MedicalFacilityId
            },
            async: false,
            beforeSend: () => { },
            success: function (response) {
                debugger;
                startDate = response;
            },
            error: function (errResponse) {
                debugger;
                console.log(errResponse);
                //toastAlert("Something's wrong when getting the available date", "error");
                location.reload();
            }
        });

        $.ajax({
            url: "/Appointment/GetEndDate",
            data: {
                doctorId: @ViewBag.DoctorId,
                medFacId: @ViewBag.MedicalFacilityId
            },
            async: false,
            beforeSend: () => { },
            success: function (response) {
                debugger;
                endDate = response;
            },
            error: function (errResponse) {
                debugger;
                console.log(errResponse);
                //toastAlert("Something's wrong when getting the available date", "error");
                location.reload();
            }
        });

        $.ajax({
            url: "/Appointment/GetEmptySlotDate",
            data: {
                medFacId: @ViewBag.MedicalFacilityId,
                doctorId: @ViewBag.DoctorId
                                                                },
            async: false,
            beforeSend: () => { },
            success: function (response) {
                debugger;
                emptySlotDate = response;
            },
            error: function (errResponse) {
                debugger;
                console.log(errResponse);
                //toastAlert("Something's wrong when getting the available date", "error");
                location.reload();
            }
        });

        $.ajax({
            url: "/Appointment/GetScheduleDayOfWeek",
            data: {
                medFacId: @ViewBag.MedicalFacilityId,
                doctorId: @ViewBag.DoctorId
                                },
            beforeSend: () => { },
            success: function (response) {
                //debugger;
                $("#date").val("");
                $("#date").prop("disabled", false)

                $("#date").flatpickr({
                    minDate: startDate,
                    maxDate: endDate,
                    dateFormat: "Y-m-d",
                    enable: [
                        function (date) {
                            var checkDay = false;
                            $.each(
                                response,
                                function (idx, data) {
                                    //debugger;
                                    var checkSlotDate = true
                                    $.each(
                                        emptySlotDate,
                                        function (idx2, data2) {
                                            //debugger;
                                            
                                            date2 = data2.toString().split("T")[0];

                                            if ("@ViewBag.AppointmentDate" == date2) {
                                                return
                                            }

                                            var dateDate = date.getDate();
                                            if (dateDate < 10) {
                                                dateDate = "0" + dateDate;
                                            }
                                            var dateMonth = date.getMonth() + 1;
                                            if (dateMonth < 10) {
                                                dateMonth = "0" + dateMonth;
                                            }
                                            var dateYear = date.getFullYear();
                                            var fullDate = (dateYear + "-" + dateMonth + "-" + dateDate + "T00:00:00");
                                            if (fullDate == data2) {
                                                debugger;
                                                checkSlotDate = false;
                                                return
                                            }
                                        }
                                    )
                                    if (date.getDay() === data && checkSlotDate) {
                                        //debugger;
                                        checkDay = true;
                                        return;
                                    }
                                }
                            );
                            return checkDay;
                        }
                    ]
                });
            },
            error: function (errResponse) {
                debugger;
                console.log(errResponse);
                //toastAlert("Something's wrong when getting the available date", "error");
                location.reload();
            }
        });

        $.ajax({
            url: "/Appointment/GetTreatment",
            data: {
                medFacId: @ViewBag.MedicalFacilityId,
                doctorId: @ViewBag.DoctorId
                        },
            async: false,
            beforeSend: () => { },
            success: function (response) {
                //debugger;
                console.log(response.statusCode);
                $("#tindakan").empty();
                if (response.statusCode == 200) {
                    if (response.data.length > 0) {
                        $("#tindakan").prop("disabled", false);
                        $.each(
                            response.data,
                            function (idx, data) {
                                $("#tindakan").append(
                                    `<option value="${data.id}">${data.name}</option>`
                                );
                            }
                        );
                        $("#tindakan").val("@ViewBag.TreatmentId");
                        if ($("#tindakan").val() == null) {
                            $("#tindakan").append(
                                `<option value="" selected>-- Tidak memilih tindakan --</option>`
                            );
                        }
                        else {
                            $("#tindakan").append(
                                `<option value="">-- Tidak memilih tindakan --</option>`
                            );
                        }
                    }
                }
            },
            error: function (errResponse) {
                debugger;
                console.log(errResponse);
                location.reload();
            }
        });
      
        $("#date").change(function (e) {
            //debugger;
            $("#btnSave").prop("disabled", true);
            $("#sesi").prop("disabled", false);
            $("#tindakan").prop("disabled", false);
            $.ajax({
                url: "/Appointment/GetTimeSlot",
                data: {
                    medFacId: @ViewBag.MedicalFacilityId,
                    doctorId: @ViewBag.DoctorId,
                    date: $(this).val().toString()
                },
                async: false,
                beforeSend: () => { },
                success: function (response) {
                    $("#sesi").empty();
                    var dateCheck = $("#date").val().toString();
                    if (dateCheck == "@ViewBag.AppointmentDate") {
                        $("#sesi").append(
                            `<option value="@ViewBag.TimeStart">@ViewBag.TimeStart - @ViewBag.TimeEnd</option>`
                        )
                    }                 
                    $.each(
                        response,
                        function (idx, data) {
                            if (dateCheck != "@ViewBag.AppointmentDate" || (dateCheck == "@ViewBag.AppointmentDate" && data.timeScheduleStart != "@ViewBag.TimeStart")) {
                                $("#sesi").append(
                                    `<option value="${data.timeScheduleStart}">${data.range}</option>`
                                )
                            }
                        }
                    )
                    var sesi = $("#sesi").val();
                    var treatment = $("#tindakan").val();
                    debugger;
                    if (dateCheck == "@ViewBag.AppointmentDate" && sesi == "@ViewBag.TimeStart" && treatment == "@ViewBag.TreatmentId") {
                        $("#btnSave").prop("disabled", true);
                    }
                    else {
                        $("#btnSave").prop("disabled", false);
                    }
                },
                error: function (errResponse) {
                    debugger;
                    console.log(errResponse);
                    location.reload();
                }
            });
        });

        $("#sesi").change(function (e) {
            debugger;
            var dateCheck = $("#date").val().toString();
            var sesi = $("#sesi").val();
            var treatment = $("#tindakan").val();
            if (dateCheck == "@ViewBag.AppointmentDate" && sesi == "@ViewBag.TimeStart" && treatment == "@ViewBag.TreatmentId") {
                $("#btnSave").prop("disabled", true);
            }
            else {
                $("#btnSave").prop("disabled", false);
            }
           
        });

        $("#tindakan").change(function (e) {
            debugger;
            var dateCheck = $("#date").val().toString();
            var sesi = $("#sesi").val();
            var treatment = $("#tindakan").val();
            if (dateCheck == "@ViewBag.AppointmentDate" && sesi == "@ViewBag.TimeStart" && treatment == "@ViewBag.TreatmentId") {
                $("#btnSave").prop("disabled", true);
            }
            else {
                $("#btnSave").prop("disabled", false);
            }
        });

        $("#btnSave").click(function (e) {
            debugger;
            $("#frmAppointment").submit(function (e) {
                e.preventDefault();
            });

            $("#frmAppointment").validate({
                rules: {
                    Member: "required",
                    MedFac: "required",
                    AppointmentDate: "required",
                    Sesi: "required"
                }
            });

            if ($("#frmAppointment").valid()) {
                var dofId = null;
                var dosId = null;
                var dateString = $("#date").val().split("-");
                var dateChoice = new Date(dateString[0], dateString[1] - 1, dateString[2]);
                var dateDate = dateChoice.getDate();
                if (dateDate < 10) {
                    dateDate = "0" + dateDate;
                }
                var dateMonth = dateChoice.getMonth() + 1;
                if (dateMonth < 10) {
                    dateMonth = "0" + dateMonth;
                }
                var dateYear = dateChoice.getFullYear();
                var fullDate = (dateYear + "-" + dateMonth + "-" + dateDate + " " + $("#sesi").val() + ":00");
                console.log(fullDate);
                $.ajax({
                    url: "/Appointment/GetDoctorOfficeId",
                    data: {
                        medFacId: @ViewBag.MedicalFacilityId,
                        doctorId: @ViewBag.DoctorId
                            },
                    async: false,
                    beforeSend: () => { },
                    success: function (response) {
                        debugger;
                        dofId = response;
                    },
                    error: function (errResponse) {
                        debugger;
                        console.log(errResponse);
                        location.reload();
                    }
                });

                $.ajax({
                    url: "/Appointment/GetDoctorOfficeScheduleId",
                    data: {
                        doctorId: @ViewBag.DoctorId,
                        medFacId: @ViewBag.MedicalFacilityId,
                        day: dateChoice.getDay(),
                        timeStart: $("#sesi").val()
                    },
                    async: false,
                    beforeSend: () => { },
                    success: function (response) {
                        debugger;
                        dosId = response;
                    },
                    error: function (errResponse) {
                        debugger;
                        console.log(errResponse);
                        location.reload()
                    }
                });

                var tindakanId = $("#tindakan").val();
                if (tindakanId == "") {
                    tindakanId = 0;
                }

                $.ajax({
                    url: "/Appointment/Update",
                    type: "post",
                    data: {
                        id: @ViewBag.AppointmentId,
                        custId: $("#member").val(),
                        dofId: dofId,
                        dosId: dosId,
                        dotId: $("#tindakan").val(),
                        appDate: fullDate
                    },
                    beforeSend: () => {
                        $("#staticModalLgBody").html();
                        $("#staticModalLgBody").load("/Appointment/Check/");
                        $("#staticModalLg").modal("show");
                    },
                    success: function (response) {
                        if (response.statusCode == 200) {
                            //alert("success");
                            $("#staticModalLg").modal("hide");
                            location.href = "/Appointment/RencanaKedatangan?pageNumber=1&currPageSize=5&orderBy=tanggalDibuat&ascDesc=desc";
                        }
                        else {
                            $("#staticModalLgBody").html();
                            var message = encodeURIComponent(response.message.trim());
                            $("#staticModalLgBody").load(`/Appointment/EmptySlot/?message=${message}`);
                            //$("#staticModalLg").modal("show");
                            $("#sesi").val("");
                            $("#sesi").empty();
                            $("#sesi").prop("disabled", true);                 
                        }
                    },
                    error: function (errResponse) {
                        debugger;
                        console.log(errResponse);
                        location.reload();
                    }
                });
            }
        });

        $("#btnCancelUpdate").click(function (e) {
            $("#staticModal").modal("hide");
        });
    });
</script>

